# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
*.log

# Project specific huge data (optional to ignore, but we keep the processed json/faiss for easy repo setup)
# ipa*.xml
